*{
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  position: relative;
  background-color: #eee;
}

.btn_container{
  position: absolute;
  right:4rem;
  top:4rem;
  padding: 1rem 2rem;
  background-color:#2998ff;
  border-radius: 4px;
}
.next_button{
  font-size: 1.6rem;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  
  
}